* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.Landing {
  background-color: #0a2640;
  background-image: url(/src/assets/img/hero/hero-bg.png);
  background-repeat: no-repeat;
  background-position: top right;
}
